# ld65 configuration - CNROM (mapper 3): 32 KB PRG (fixed), 4 x 8 KB CHR-ROM (switchable)
# Adapted from the cc65 project's nes.cfg (cc65 is distributed under the zlib license).
SYMBOLS {
    __STACKSIZE__: type = weak, value = $0100;
}
MEMORY {
    ZP:      file = "", start = $0002, size = $00FE, type = rw, define = yes;
    STACK:   file = "", start = $0100, size = $0100, type = rw;
    OAMPAGE: file = "", start = $0200, size = $0100, type = rw, define = yes;
    RAM:     file = "", start = $0300, size = $0400, type = rw, define = yes;
    SRAM:    file = "", start = $0700, size = __STACKSIZE__, define = yes;

    HEADER:  file = %O, start = $0000, size = $0010, fill = yes;
    ROM0:    file = %O, start = $8000, size = $7FFA, fill = yes, fillval = $FF, define = yes;
    ROMV:    file = %O, start = $FFFA, size = $0006, fill = yes;
    CHR0:    file = %O, start = $0000, size = $2000, fill = yes;
    CHR1:    file = %O, start = $0000, size = $2000, fill = yes;
    CHR2:    file = %O, start = $0000, size = $2000, fill = yes;
    CHR3:    file = %O, start = $0000, size = $2000, fill = yes;
}
SEGMENTS {
    ZEROPAGE: load = ZP,      type = zp,  define = yes;
    OAM:      load = OAMPAGE, type = bss, define = yes, optional = yes;
    BSS:      load = RAM,     type = bss, define = yes;
    HEAP:     load = RAM,     type = bss, optional = yes;

    HEADER:   load = HEADER,  type = ro;
    STARTUP:  load = ROM0,    type = ro,  define = yes;
    LOWCODE:  load = ROM0,    type = ro,  optional = yes;
    ONCE:     load = ROM0,    type = ro,  optional = yes;
    INIT:     load = ROM0,    type = ro,  optional = yes;
    CODE:     load = ROM0,    type = ro,  define = yes;
    PRG0:     load = ROM0,    type = ro,  optional = yes;
    RODATA:   load = ROM0,    type = ro,  define = yes;
    DATA:     load = ROM0, run = RAM, type = rw, define = yes;
    VECTORS:  load = ROMV,    type = ro;
    CHR0:     load = CHR0,    type = ro,  optional = yes;
    CHR1:     load = CHR1,    type = ro,  optional = yes;
    CHR2:     load = CHR2,    type = ro,  optional = yes;
    CHR3:     load = CHR3,    type = ro,  optional = yes;
    CHR:      load = CHR0,    type = ro,  optional = yes;   # alias for single-bank modules
}
FEATURES {
    CONDES: type = constructor, label = __CONSTRUCTOR_TABLE__, count = __CONSTRUCTOR_COUNT__, segment = ONCE;
    CONDES: type = destructor,  label = __DESTRUCTOR_TABLE__,  count = __DESTRUCTOR_COUNT__,  segment = RODATA;
    CONDES: type = interruptor, label = __INTERRUPTOR_TABLE__, count = __INTERRUPTOR_COUNT__, segment = RODATA, import = __CALLIRQ__;
}
